.container-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-size: 40px 60px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  align-self: center;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.input-img {
  font-size: 1.5em;
  width: 70%;
  align-self: center;
  padding: 0.25em;
}

.container-description-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button {
  color: black;
  background-color: lightgray;
  font-size: 1.5em;
  width: 30%;
  outline: none;
  transition: transform 0.25s ease-out;
}

.button:hover {
  transform: scale(1.05);
}
