.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 35%;
}

.div_bounding-boxes {
  position: absolute;
  margin: 1em;
}

.bounding-boxes {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
